.image-square{
    height:250px;
    object-fit:cover;
}
.recipe-details .image-square{
    height: auto;
}
.recipe-details-page img{
    cursor: pointer;
}
.recipe-logo{
    height: 50px;
    width: 50px;
}
.navbar .navbar-nav .nav-link:hover {
    background-color: #fff;
    border-radius: 4px;
    color: #212529 !important;
}
.recipe-loader{
    height: 100vh;
}
.recipe-alert {
    position: fixed;
    top: 20px;
    z-index: 9999999;
    left: 20px;
    width: auto;
    min-width: 300px;
    opacity: 0.8;
}
.dropdown-toggle{
    cursor: pointer;
}
.user-menu-icon{
    width: 27px;
    height: 23px;
    fill: #fff;
}
.dropdown-item svg {
    width: 27px;
    height: 17px;
    fill: #fff;
}
.dropdown-menu{
    top: 30px;
}
footer svg{
    height: 24px;
    width: 24px;
}
.profile-temp-style{
    background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
    height: 400px;
}
.profile-temp-style .mask{
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
}
@media (max-width: 992px){
    .logged-btns {
        display: none;
        width: 100%;
        margin-top: 10px;
    }
    .logged-btns.responsive{
        display: block;
    }
}
