.image-square{
    height:250px;
    object-fit:cover;
}
.recipe-details .image-square{
    height: auto;
}
.recipe-logo{
    height: 50px;
    width: 50px;
}
.navbar .navbar-nav .nav-link:hover {
    background-color: #fff;
    border-radius: 4px;
    color: #212529 !important;
}
.recipe-loader{
    height: 100vh;
}
.recipe-alert {
    position: fixed;
    top: 20px;
    z-index: 9999999;
    left: 20px;
    width: auto;
    min-width: 300px;
    opacity: 0.8;
}
@media (max-width: 992px){
    .logged-btns {
        display: none;
        width: 100%;
        margin-top: 10px;
    }
    .logged-btns.responsive{
        display: block;
    }
}
